:local(.invisible) {
    z-index: -1;
}

:local(.oculto) {
    overflow: hidden;
}

:local(.componenteAnimado) {
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
