:local(.contenedorMantenimiento) {
    padding: 10px;
    max-width: 900px;
    margin: auto;
}

:local(.entradaTexto) {
    padding-left: 10px;
    padding-right: 10px;
}

:local(.mensaje) {
    text-align: center;
}

:local(.entradaBoton) {
    margin: auto;
    text-align: right;
}

:local(.mantenimiento) {
    padding: 10px;
}
