:local(.contenedorProteccionDatos) {
    padding: 15px;
}

:local(.contenedorProteccionDatos) li {
    margin: 10px 0px;
}

:local(.contenedorProteccionDatos) ol li::marker {
    font-weight: bold;
}

:local(.panel) {
    padding: 30px;
    text-align: justify;
}
