:local(.fieldset) {
    border: none;
}

:local(.fieldset) :local(.contenedorgmap) > div {
    margin-top: 20px;
    min-width: 100%;
    height: auto;
    min-height: 60vh;
}

:local(.searchbox) {
    text-align: center;
}

:local(.busquedaMapa) {
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 50%;
    height: 40px;
    margin-top: 10px;
    padding: 0 12px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    outline: none;
    text-overflow: ellipses;
}

@media screen and (max-width: 960px) {
    :local(.fieldset) {
        float: left;
        width: 100%;
    }
}
