tbody > tr > td div span :local(.contenedorIcono) {
    position: static;
    display: inline;
}

tbody > tr > td div span :local(.contenedorIcono) > * {
    position: static;
    margin-left: 0;
    margin-bottom: -5px;
}

:local(.contenedorIcono) {
    text-align: left;
    width: 100%;
    height: 100%;
    position: relative;
}

:local(.contenedorIcono) > * {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
