:local(.color) {
    width: 18px;
    height: 18px;
    float: left;
    border-radius: 100%;
    margin-right: 10px;
    border: 0.5px solid grey;
}


:local(.tablaBase) tbody  {
    background-color: rgba(199, 21, 21, 0.25) !important;
}


:local(.tooltip) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    width: 100%;
    height: 100%;
}

:local(.tooltiptext) {
    position: fixed;
    visibility: hidden;
    width: auto;
    min-width: 200px;
    max-width: 600px;
    height: auto;
    max-height: 80vh;
    min-height: auto;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.798);
    color: #c2c2c2;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

:local(.tooltip):hover :local(.tooltiptext) {
    visibility: visible;
}

:local(.iconoExclamacion) {
    color: #f31212;
    font-size: 20px;
    cursor: help;
    display: flex;
    align-items: center;
    justify-content: center;
}