:local(.popupWrapper) {
    z-index: 20000;
    padding: 0px;
    overflow: hidden;
}

:local(.popupWrapper) span {
    margin-top: 5px;
}

:local(.popupContent) {
    z-index: 20000;
    padding: 0px 0px 0px 0px;
}

button:local(.botonesRangoFechas) {
    padding: 0px;
}

:local(.botonSeleccionColor) {
    padding: 0px !important;
    height: 24px !important;
    width: 24px !important;
    min-width: none !important;
    min-height: none !important;
    border-radius: 50% !important;
    margin-top: 1.442em !important;
    box-shadow: none !important;
    border: 0.5px solid grey !important;
}

:local(.contenedorColores) {
    margin: 0px 0px 0px 7px !important;
}
